html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0 4rem;

    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #efefef;
}

.teasers {
    display: flex;
}
.teaser {
    position: relative;
    flex: 1 1 33%;
    height: 300px;

    margin: 0 20px;

    overflow: hidden;

    background-repeat: no-repeat;
    background-image: url('images/1.jpg');
    background-size: cover;
}
.teaser__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .5);

    transform: translateY(100%);
    transition: transform .2s linear;
}
.teaser:hover .teaser__content {
    transform: translateY(0);
}
.teaser__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 1.5rem;

    color: #fff;
}
.teaser__link span {
    margin: 0 auto;
}


.close {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;

    border-radius: 50px;
    transition: transform .25s linear;

    background-color: #0984e3;

    cursor: pointer;
}
.close::before,
.close::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -2px;
    content: '';
    display: block;
    width: 50px;
    height: 4px;

    background-color: #fff;
}
.close::before {
    transform: rotate(-45deg);
}
.close::after {
    transform: rotate(45deg);
}
.close:hover {
    transform: rotate(180deg) scale(1.1);
}

.text {
    position: relative;
    padding: 20px;
    border: 5px solid #e17055;
    background-color: #fff;
}
.text:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00cec9;

    transform: translateX(-13px) translateY(-14px);

    animation-name: A;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes A {
    0% {
        top: 0;
        left: 0;
        transform: translateX(-13px) translateY(-14px);
    }
    25% {
        top: 0;
        left: 100%;
        transform: translateX(-7px) translateY(-13px);
    }
    50% {
        top: 100%;
        left: 100%;
        transform: translateX(-7px) translateY(-8px);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translateX(-13px) translateY(-8px);
    }
    100% {
        top: 0;
        left: 0;
        transform: translateX(-13px) translateY(-14px);
    }
}